---
import { Mandala } from '@/components';

import Header2560 from '@/assets/header-large.webp';
import Header1920 from '@/assets/header.webp';
import Header1600 from '@/assets/header-1600.webp';
import Header1200 from '@/assets/header-1200.webp';
import Header768 from '@/assets/header-768.webp';
---

<header class="Header h-[43.75rem] w-full relative pt-1 pb-6">
	<div class="text-center mt-6 md:mt-2">
		<span class="text-white font-extralight text-4xl md:text-6xl uppercase tracking-widest">Vizune</span>
		<span class="text-white font-light text-xl uppercase tracking-widest">· The Dusken Glow</span>
			<div style="margin-top: -20rem; width: 1900px; position: absolute; left: 50%; transform: translateX(-50%);">
				<Mandala />
			</div>
	</div>
	<div class="absolute w-full top-2/4 left-1/2 z-10 -translate-x-1/2 -translate-y-1/2 border-black border-t-20 border-b-20">
		<picture>
			<source srcset={Header2560.src} media="(min-width: 2000px)" />
			<source srcset={Header1920.src} media="(max-width: 1999px)" />
			<source srcset={Header1600.src} media="(max-width: 1600px)" />
			<source srcset={Header1200.src} media="(max-width: 1200px)" />
			<source srcset={Header768.src} media="(max-width: 768px)" />
			<img
				src={Header768.src}
				alt="Vizune banner"
				class="h-[500px] w-full object-cover"
				loading="lazy"
				decoding="async"
			/>
		</picture>
	</div>
</header>

<style scoped>
.Header:before {
    content: '';
    width: 750px;
    height: 620px;
    position: absolute;
    display: block;
	top: .75rem;
    left: 50%;
    border-radius: 50%;
    background: linear-gradient(-23deg, rgb(80, 8, 255) 75%, rgb(233, 151, 255) 50%);
    filter: blur(70px);
	transform: translateX(-50%) scale(0.85);
    animation: pulseScale 3s linear infinite 1s;
    pointer-events: none;
}
@keyframes pulseScale {
  0%   { transform: translateX(-50%) scale(0.85); }
  50%  { transform: translateX(-50%) scale(1); }
  100% { transform: translateX(-50%) scale(0.85); }
}
</style>
